<div class="footer ">
    <div class="grid">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column frow-item">
                    <p class="footer__text-color footer__text-mobile">Giới thiệu về cửa hàng</p>
                    <p class="footer__text-color footer__text-mobile">Câu hỏi thường gặp mua hàng</p>
                    <p class="footer__text-color footer__text-mobile">Chính sách bảo mật</p>
                    <p class="footer__text-color footer__text-mobile">Quy chế hoạt động</p>
                    <p class="footer__text-color footer__text-mobile">Kiểm tra hóa đơn điện tử</p>
                </div>
                <div class="col d-flex flex-column frow-item">
                    <p class="footer__text-color footer__text-mobile">Tin khuyến mãi</p>
                    <p class="footer__text-color footer__text-mobile">Hướng dẫn mua online</p>
                    <p class="footer__text-color footer__text-mobile">Hướng dẫn mua trả góp</p>
                    <p class="footer__text-color footer__text-mobile">Chính sách trả góp</p>
                    <p class="footer__text-color footer__text-mobile">Chính sách bảo hành</p>
                </div>
                <div class="col d-flex flex-column frow-item">
                    <p class="footer__text-color footer__text-mobile">Hệ thống cửa hàng</p>
                    <p class="footer__text-color footer__text-mobile">Hệ thống bảo hành</p>
                    <p class="footer__text-color footer__text-mobile">Bán hàng doanh nghiệp</p>
                    <p class="footer__text-color footer__text-mobile">Giới thiệu máy đổi trả</p>
                    <p class="footer__text-color footer__text-mobile">Chính sách đổi trả</p>
                </div>
                <div class="col d-flex flex-column frow-item">
                    <div class="d-flex">
                        <img class="footer__img img-fuild rounded" src="\assets\img\bct.png" alt="">
                        <img class="footer__img img-fuild rounded" src="\assets\img\dmca.png" alt="">
                        <img class="footer__img img-fuild rounded" src="\assets\img\ncsc.png" alt="">
                    </div>
                    <p class="footer__text-color">Hỗ trợ thanh toán</p>
                    <div class="d-flex">
                        <img class="footer__img img-fuild rounded" src="\assets\img\visa.jpg" alt="">
                        <img class="footer__img img-fuild rounded" src="\assets\img\mastercard.png" alt="">
                        <img class="footer__img img-fuild rounded" src="\assets\img\momo.png" alt="">
                        <img class="footer__img img-fuild rounded" src="\assets\img\vnpay.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  