<div class="card h-100 box-shadow">
    <div class="image position-relative" style="cursor:pointer">
        <img src="{{product.linkImg}}" alt="{{product.name}}" class="img-fluid">
        <div class="d-flex align-items-center justify-content-center hover-overlay btn-group container">
            <button type="button" (click)="addItemToBasket()" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart"></i></button>
            <button type="button" routerLink="/san-pham/{{product.id}}" class="btn btn-sm btn-outline-secondary">Mua
                ngay</button>
        </div>
    </div>

    <div class="card-body d-flex flex-column">
        <a routerLink="/san-pham/{{product.id}}">
            <h5>{{product.name}}</h5>
        </a>
        <span>
            {{product.price | number:'1.0-2'}} đ
        </span>

    </div>
</div>