<div class="container">
    <div *ngIf="(basket$ | async) === null" style="text-align:center">
        <img src="/assets/img/emptycart.png" alt="" style="height:200px">
        <p><strong>Giỏ hàng của bạn đang trống</strong></p>
        <button class="btn btn-primary" style="height:60px; width:200px" routerLink="/san-pham">Quay lại cửa hàng</button>
    </div>
    
    <div *ngIf="basket$ | async">
        <div class="pb-2">
            <div class="row">
                <div class="col-12 py-5 mb-1">
                    <app-basket-summary
                        (decrement)="decrementItemQuantity($event)"
                        (increment)="incrementItemQuantity($event)"
                        (remove)="revmoveBasketItem($event)"
                    >
                    </app-basket-summary>
                </div>
            </div>
    
            <div class="row">
                <div class="col-6 col-offset-6">
                    <app-order-totals></app-order-totals>
                    <a routerLink="/thanh-toan" class="btn  py-2 btn-block" style="background: linear-gradient(to right, #ff6600 34%, #ffcc66 109%);">
                        <b>Đặt hàng</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>