<div class="container">
   <div class="row">
    <div class="col-8">
        <app-stepper [linearModeSelected]="false" #appStepper>
            <cdk-step [label]="'Địa chỉ'">
                <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
            </cdk-step>
            <cdk-step [label]="'Phương thức'">
                <app-checkout-delivery [checkoutForm]="checkoutForm" ></app-checkout-delivery>
            </cdk-step>
            <cdk-step [label]="'Kiểm tra'">
                <app-checkout-review></app-checkout-review>
            </cdk-step>
            <cdk-step [label]="'Thanh toán'" >
                <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
            </cdk-step>

            
        </app-stepper>
    </div>
    <div class="col-4">
        <app-order-totals></app-order-totals>
    </div>
   </div>
</div>