<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Tổng tiền
</div>
<div class="p-4">
    <p class="font-italic mb-4">
        Phí ship sẽ được tính tùy theo lựa chọn của bạn!
    </p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ |async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted"> Tạm tính </strong>
            <strong>{{(basketTotal$ | async).subtotal | number: '1.0-2'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted"> Phí ship </strong>
            <strong>{{(basketTotal$ | async).shipping | number: '1.0-2'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted"> Tổng tiền </strong>
            <strong>{{(basketTotal$ | async).total | number: '1.0-2'}}</strong>
        </li>
    </ul>
</div>