<label for="{{label}}" >{{label}}</label>
<input  
        [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ? 
        !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null"
        [type]="type"
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        id="{{label}}" 
        #input
        class="form-control" 
        placeholder="{{label}}" 
>
<label for="{{label}}" class="sr-only">{{label}}</label>
<div class="invalid-feedback" *ngIf="(controlDir && controlDir.control 
                            && !controlDir.control.valid && controlDir.control.touched)">
    <span *ngIf="controlDir.control.errors?.required">{{label}} là bắt buộc</span>
    <span *ngIf="controlDir.control.errors?.pattern">Email không hợp lệ
    </span>
</div>