<div class="vertical-middle">
    <div class="container text-center py-5 py-md-0">

        <div class="error404">404</div>

        <div class="heading-block border-bottom-0">
            <h4>Ooopps.! Chúng tôi không thấy trang của bạn yêu cầu.</h4>
            <span>Hãy thử tìm kiếm lại </span>
        </div>
        <form action="#" method="get" class="mx-auto mb-0">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>


    </div>


</div>

<!-- <div class="container">
    <button (click)="get500Error()" class="btn btn-outline-primary mr-3">Test 500</button>
    <button (click)="get404Error()" class="btn btn-outline-primary mr-3">Test 404</button>
    <button (click)="get400Error()" class="btn btn-outline-primary mr-3">Test 400</button>
    <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">Test 404 Validation</button>
</div> -->
