.vertical-middle{
    margin-top: 20px;
    margin-bottom: 20px;
    .error404 {
        display: block;
        font-size: 18vw;
        font-weight: 700;
        color: #DDD;
        line-height: 1;
        letter-spacing: 4px;
    }
    button{
        background-color: #3884e4;
    }
}